# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
AUTH_COOKIE_SECRET=thisissomerandomtext
MAGIC_LINK_SECRET=themagiclinksecret
ORIGIN=http://localhost:3000
MAILGUN_API_KEY=mailgunapikey
MAILGUN_DOMAIN=mailgundomain
MAILGUN_FROM=kk@kk.com
